In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("acs2015_census_tract_data.csv")
print(df.head())

   CensusTract    State   County  TotalPop   Men  Women  Hispanic  White  \
0   1001020100  Alabama  Autauga      1948   940   1008       0.9   87.4
1   1001020200  Alabama  Autauga      2156  1059   1097       0.8   40.4
2   1001020300  Alabama  Autauga      2968  1364   1604       0.0   74.5
3   1001020400  Alabama  Autauga      4423  2172   2251      10.5   82.8
4   1001020500  Alabama  Autauga     10763  4922   5841       0.7   68.5

   Black  Native      ...       Walk  OtherTransp  WorkAtHome  MeanCommute  \
0    7.7     0.3      ...        0.5          2.3         2.1         25.0
1   53.3     0.0      ...        0.0          0.7         0.0         23.4
2   18.6     0.5      ...        0.0          0.0         2.5         19.6
3    3.7     1.6      ...        0.0          2.6         1.6         25.3
4   24.8     0.0      ...        0.0          0.6         0.9         24.8

   Employed  PrivateWork  PublicWork  SelfEmployed  FamilyWork  Unemployment
0       943         77.1        18.3           4.6         0.0           5.4
1       753         77.0        16.9           6.1         0.0          13.3
2      1373         64.1        23.6          12.3         0.0           6.2
3      1782         75.7        21.2           3.1         0.0          10.8
4      5037         67.1        27.6           5.3         0.0           4.2

[5 rows x 37 columns]

In [3]:
df.describe()

,CensusTract,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,7.400100e+04,74001.000000,74001.000000,74001.000000,73311.000000,73311.000000,73311.000000,73311.000000,73311.000000,73311.000000,...,73204.000000,73204.000000,73204.000000,73052.000000,74001.000000,73194.000000,73194.000000,73194.000000,73194.000000,73199.000000
mean,2.839113e+10,4325.591465,2127.648816,2197.942649,16.862810,62.032106,13.272581,0.727726,4.588253,0.145012,...,3.123340,1.891606,4.368093,25.667357,1983.907366,78.975238,14.621566,6.233814,0.169772,9.028663
std,1.647593e+10,2129.306903,1072.332031,1095.730931,22.940695,30.684152,21.762483,4.488340,8.794003,1.037354,...,5.881237,2.596198,3.904990,6.964881,1073.429808,8.345758,7.535786,4.042990,0.458227,5.955441
min,1.001020e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.303901e+10,2891.000000,1409.000000,1461.000000,2.400000,39.400000,0.700000,0.000000,0.200000,0.000000,...,0.400000,0.400000,1.800000,20.800000,1249.000000,74.600000,9.600000,3.500000,0.000000,5.100000
50%,2.804700e+10,4063.000000,1986.000000,2066.000000,7.000000,71.400000,3.700000,0.000000,1.400000,0.000000,...,1.400000,1.100000,3.500000,25.000000,1846.000000,80.100000,13.400000,5.500000,0.000000,7.700000
75%,4.200341e+10,5442.000000,2674.000000,2774.000000,20.400000,88.300000,14.400000,0.400000,4.800000,0.000000,...,3.500000,2.500000,5.900000,29.800000,2553.000000,84.600000,18.200000,8.100000,0.000000,11.400000
max,7.215375e+10,53812.000000,27962.000000,27250.000000,100.000000,100.000000,100.000000,100.000000,91.300000,84.700000,...,100.000000,100.000000,100.000000,80.000000,24075.000000,100.000000,100.000000,100.000000,26.500000,100.000000

In [4]:
df.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [5]:
import numpy as np
#pd.pivot(df, values='column name', index ='column name', columns='column name', aggfunc=np.max)

#Which state has the most people working from home?
#df.groupby('State').sort_values('WorkAtHome', ascending=False)[10]

In [6]:
#Top 5 states with the most counties?
df.groupby('State').nunique().nlargest(5, 'County')

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
State,,,,,,,,,,,,,,,,,,,,,
Texas,5265,1,254,3850,2997,3004,960,949,636,52,...,185,144,187,345,2973,442,401,224,46,250
Georgia,1969,1,159,1733,1554,1571,338,818,759,39,...,144,108,176,301,1564,366,348,166,38,275
Virginia,1907,1,133,1634,1454,1419,316,782,580,36,...,171,96,160,333,1460,353,347,148,27,213
Kentucky,1115,1,120,1017,922,944,148,380,280,26,...,134,91,118,260,936,307,272,162,35,216
Missouri,1393,1,115,1245,1138,1133,179,505,384,43,...,129,88,128,255,1169,308,265,174,33,232

In [7]:
#Top 5 states with the largest income per capita
df.groupby('State').nunique().nlargest(5, 'IncomePerCap')

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
State,,,,,,,,,,,,,,,,,,,,,
California,8057,1,58,4680,3247,3261,986,941,461,99,...,280,208,258,382,3181,499,436,278,44,303
Texas,5265,1,254,3850,2997,3004,960,949,636,52,...,185,144,187,345,2973,442,401,224,46,250
New York,4918,1,62,3419,2525,2565,741,953,782,62,...,401,151,175,465,2551,395,368,201,42,289
Florida,4245,1,67,3220,2511,2582,761,951,695,48,...,175,171,258,305,2529,401,361,220,43,304
Pennsylvania,3218,1,67,2500,1987,2013,356,741,543,33,...,283,122,152,323,1977,284,251,157,36,293

In [8]:
#Top 5 states with the largest income per capita
df.groupby(['State', 'County']).nunique().nlargest(5, 'IncomePerCap')

,,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
State,County,,,,,,,,,,,,,,,,,,,,,
California,Los Angeles,2346,1,1,1895,1548,1590,872,740,385,37,...,166,116,202,247,1563,301,276,228,29,228
Illinois,Cook,1319,1,1,1206,1087,1086,519,652,448,31,...,188,119,141,248,1073,305,291,123,29,325
Arizona,Maricopa,916,1,1,843,782,799,501,568,171,92,...,94,119,171,189,792,226,206,149,25,189
Texas,Harris,786,1,1,747,725,707,514,480,374,27,...,82,95,107,203,721,210,195,147,26,188
New York,Kings,761,1,1,693,640,642,351,472,368,30,...,215,95,127,241,645,260,261,150,22,195

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

#Show total population by State
#df.groupby('State')['TotalPop'].sum().plot(kind='bar', x='State', y='TotalPop')
df.groupby('State').nunique().plot(kind='bar', y='State', x='TotalPop', figsize=(20, 5))